<form id='add-played-form'>
   <div class="container justify-content-around d-flex mb-3">
      <input type='text' id='numPlayers' style='height: 60px;' class='w-25 text-center rounded' name='game[players]' placeholder='Number of Players'>
      <input type='text' style='height: 60px;' class='w-25 text-center rounded' name='game[name]' placeholder='Game Name'>
      <input type='text' style='height: 60px;' class='w-25 text-center rounded' name='game[date]' placeholder='Date Played'>
   </div>
   <div class='players container d-flex justify-content-around flex-wrap '>

   </div>
   <div class='scores container d-flex justify-content-around flex-wrap'>

   </div>
   <div class='container d-flex justify-content-center flex-wrap'>
      <input style='height: 60px;' type='submit' class='w-50 rounded-pill' value="Submit"></input>
   </div>
</form>