
<form id='add-game-form'>
   <div class="container justify-content-around d-flex mb-3">
      <input type='text' style='height: 60px;' class='w-25 text-center rounded' name='game[name]' placeholder='Game Name'>
      <input type='text' style='height: 60px;' class='w-25 text-center rounded' name='game[score]' placeholder='Score out of 10'>
   </div>
   <div class='container d-flex justify-content-center flex-wrap'>
      <textarea type='text' class='w-90 mb-3 rounded' name='game[review]' placeholder='Review' id="review" style='height: 300px;'></textarea>
      <input style='height: 60px;' type='submit' class='w-50 rounded-pill' value="Submit"></input>
   </div>
</form>