<form id="change-pw-form">
   <input type='password' name='passwords[old]' placeholder='Old Password'></input>
   <input type='password' name='passwords[new]' placeholder='New Password'></input>
   <input type='submit' value="Change Password"></input>
</form>