<button class="nav-item dropdown border border-dark rounded-pill h-90 d-block"  style='width: 200px;'>
  <a class="nav-link dropdown-toggle" style='color: black;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" id='sign-out' href="#">Sign Out</a>
    <a class="dropdown-item" id='change-pw' href="#">Change Password</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" id='add-game' href="#">Add to Game Library</a>
    <a class="dropdown-item" id='show-games' href="#">Show Game Library</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" id='add-played-game' href="#">New Played Game</a>
    <a class="dropdown-item" id='show-played-game' href="#">Show Played Games</a>
  </div>
</button>