<form id="sign-in-form">
  <input type='text' name='credentials[email]' placeholder='Email'></input>
  <input type='password' name='credentials[password]' placeholder='Password'></input>
  <input type='submit' value="Sign In"></input>
</form>