<form id="sign-up-form">
        <input type='text' name='credentials[email]' placeholder='Email'></input>
        <input type='password' name='credentials[password]' placeholder='Password'></input>
        <input type='password' name='credentials[password_confirmation]' placeholder='Confirm Password'></input>
        <input type='submit' value="Sign Up"></input>
</form>