@import '~bootstrap/scss/bootstrap';
.failure{
   color: red;
}
.success{
   color: green;
}
.navbar-nav{
   flex-grow: 1;
   & .row{
      flex-grow: 1;
      margin: 0;
   }
}

.card{
   border-width: 3px !important;
}

body{
   background-color: rgb(217, 217, 217)
}

.navbar{
   background-color: rgb(198, 235, 217)
}