@import '~bootstrap/scss/bootstrap';
.failure{
   color: red;
}
.success{
   color: green;
}
.navbar-nav{
   flex-grow: 1;
   & .row{
      flex-grow: 1;
      margin: 0;
   }
}
.col-4{
   border: 1px solid black;
   height: 60px
}
#sign-up{
   width: 100%;
   height: 90%;
   margin-top: 3px;
}

#sign-in{
   width: 100%;
   height: 90%;
   margin-top: 3px;
}